h1,
h2,
h3,
h4,
p,
a {
  font-size: medium;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  text-decoration: none;
}
html {
  font-size: 16px;
}
body {
  background-color: rgba(24, 24, 24, 1);
  height: 2000px;
  font-family: "Oswald", sans-serif;
}
header {
  background: linear-gradient(rgba(24, 24, 24, 0.9), rgba(24, 24, 24, 0.3));
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
}
main {
  margin: auto 21rem;
}
main,
footer {
  margin-top: 150px;
}
img {
  height: 50px;
  width: 100px;
}
h1,
h2,
header {
  font-weight: 400;
}
h1 {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(
    rgba(226, 0, 122, 1),
    rgba(226, 108, 0, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  margin: 25rem auto 36rem auto;
}
h2 {
  color: rgba(208, 91, 16, 1);
  font-size: 3rem;
  margin-bottom: 0px;
}
h3,
h4 {
  color: rgb(226, 226, 226);
}
h3 {
  font-size: 2rem;
}
p {
  color: rgb(226, 226, 226);
}

li::before {
  content: "•";
  color: rgba(226, 108, 0, 1);
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}
.nav__flex-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  font-size: 2rem;
  padding-right: 40px;
}
.nav__button {
  font-size: 2rem;
  color: rgba(226, 0, 122, 1);
  padding: 30px;
  height: 100px;
  flex-basis: 50px;
  display: block;
  text-align: center;
  outline: none;
  text-decoration: none;
}
.section-title {
  margin: 5rem auto 12.5rem auto;
}
.underline {
  width: 42rem;
  display: inline-block;
  border: none;
  height: 1px;
  background-color: rgba(208, 91, 16, 1);
}

/* PROFILE SECTION */

.profile_section {
  margin-bottom: 28rem;
  padding-top: 2rem;
}
.profile {
  display: flex;
  justify-content: space-between;
  margin: 12.5rem auto 12.5rem auto;
  max-width: 100%;
}

.profile__left-side {
  display: inline-block;
  width: 33.5rem;
  margin-right: 10rem;
}
.profile__left-side p {
  font-size: 1.5rem;
}
.profile__left-side h3,
.profile__right-side h3 {
  margin-bottom: 3.75rem;
}
.profile__right-side h3 {
  margin-left: -1rem;
}
.profile__right-side {
  display: inline-block;
  margin-left: 10rem;
}
.profile__skills {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: rgb(226, 226, 226);
  font-size: 1.625rem;
  width: 25rem;
}

.profile__skills-left {
  margin: 0 5rem auto auto;
  padding-right: 130px;
}
.profile__skills-right {
  margin: 0 auto;
  margin-left: 5rem;
  padding-right: 100px;
}

/* PROJECTS SECTION */

.projects_section {
  margin-bottom: 28rem;
  padding-top: 2rem;
}
.projects {
  box-sizing: border-box;
  background-color: teal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.projects__block {
  position: relative;
  margin-right: 1.25rem;
  margin-bottom: 0;
}
.projects__frontRectangle {
  position: relative;
  background-color: rgba(24, 24, 24, 1);
  border: 1px solid rgba(226, 108, 0, 1);
  border-radius: 10px;
  width: 37.5rem;
  height: 21.25rem;
  z-index: 10;
}

.projects__frontRectangle img {
  height: 200px;
  width: 240px;
}

.projects__backRectangle {
  position: relative;
  bottom: 20rem;
  left: 1.25rem;
  background-color: rgba(24, 24, 24, 1);
  border: 1px solid rgba(226, 0, 122, 1);
  border-radius: 10px;
  width: 37.5rem;
  height: 21.25rem;
  z-index: 1;
  margin-top: 0;
}

/* CONTACT SECTION */
