html {
  font-size: 16px;
}
body {
  background-color: rgba(24, 24, 24, 1);
  font-family: "Oswald", sans-serif;
}

/* HEADER */

.nav__flex-container {
  background: linear-gradient(rgba(24, 24, 24, 1), rgba(24, 24, 24, 0.4));
  height: 6.25rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav__item {
  list-style: none;
}
.nav__button {
  font-size: 2rem;
  color: rgba(226, 0, 122, 1);
  padding: 1.25rem;
  height: 100%;
  flex-basis: 3.125rem;
  display: inline-block;
  text-align: center;
  outline: none;
  text-decoration: none;
  width: 9rem;
}

/* MAIN */

.main-content {
  margin: auto 21rem;
  color: rgb(226, 226, 226);
}
.main-content__title {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(
    rgba(226, 0, 122, 1),
    rgba(226, 108, 0, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  margin: 25rem auto 36rem auto;
  font-weight: 400;
}
.section-title {
  margin: 5rem auto 12.5rem auto;
}
.section-title__title {
  color: rgba(208, 91, 16, 1);
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: 400;
}
.section-title__underline {
  width: 42rem;
  display: inline-block;
  border: none;
  height: 1px;
  background-color: rgba(208, 91, 16, 1);
}

/* PROFILE SECTION */

.profile_section {
  margin-bottom: 28rem;
  padding-top: 0.5rem;
}
.profile {
  display: flex;
  justify-content: space-between;
  margin: 12.5rem auto 12.5rem auto;
  max-width: 100%;
}

.profile-text {
  display: inline-block;
  width: 33.5rem;
  margin-right: 10rem;
}
.profile-text__paragraph {
  font-size: 1.5rem;
}

.profile__title {
  margin-bottom: 3.75rem;
  font-size: 2rem;
  font-weight: normal;
}
.profile__title--marginleft {
  margin-left: -1rem;
}

.profile-skills {
  display: inline-block;
  margin-left: 10rem;
}

.profile-skills__list {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: rgb(226, 226, 226);
  font-size: 1.625rem;
  width: 25rem;
}
.profile-skills__item::before {
  content: "•";
  color: rgba(226, 108, 0, 1);
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}

.profile-skills__list-left {
  margin: 0 5rem auto auto;
  padding-right: 8.125rem;
}
.profile-skills__list-right {
  margin: 0 auto;
  margin-left: 5rem;
  padding-right: 6.25rem;
}

/* PROJECTS SECTION */

.projects_section {
  margin-bottom: 28rem;
  padding-top: 0.5rem;
}
.projects {
  box-sizing: border-box;
  /*background-color: teal;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.625rem;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.projects__block {
  position: relative;
  margin-right: 1.25rem;
  margin-bottom: 0;
}

.projects__block {
  position: relative;
  background-color: rgba(24, 24, 24, 1);
  border: 1px solid rgba(226, 108, 0, 1);
  border-radius: 0.625rem;
  width: 40rem; /*600*/
  height: 21.4rem; /*340*/
  padding: 1.25rem;
  margin-bottom: 7.5rem;
  display: flex;
}

.projects__block:after {
  content: "";
  position: absolute;
  display: block;
  background: rgba(24, 24, 24, 1);
  border-radius: 0.625rem;
  border: 1px solid rgba(226, 0, 122, 1);
  left: 1.25rem;
  top: 1.25rem;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.projects__image {
  height: 15rem;
  width: 17.5rem;
  margin-top: 2rem;
}
.projects__description {
  margin-left: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__title {
  font-size: 2rem;
  font-weight: normal;
}
.projects__paragraph {
  font-size: 1.4rem;
  margin: 1rem auto;
}
.projects__buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.875rem;
  width: 100%;
}
.projects__button {
  background-color: rgba(24, 24, 24, 1);
  color: white;
  border: 1px solid rgba(226, 108, 0, 1);
  border-radius: 1.563rem;
  font-size: 1.5rem;
  padding: 0.5rem 1.875rem;
}

/* CONTACT SECTION */

.contact_section {
  margin-bottom: 18.75rem;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__paragraph {
  font-size: 1.625rem;
  margin-bottom: 6.25rem;
  text-align: center;
}
.contact__icons {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 29.375rem;
}
.contact__item {
}
.contact__link {
}
.contact__image {
  width: 5.625rem;
  height: 5.625rem;
}

/* SCROLL BACK TO TOP BUTTON */

.scrollBackButton {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  display: inline-block;
  border: none;

  text-decoration: none;
  background: transparent;

  transition: background 250ms ease-in-out, transform 150ms ease;
}
.scrollBackButton__image {
  width: 1rem;
  height: 2rem;
  color: transparent;
}

/* FOOTER */

.footer {
  font-size: 1rem;
  color: rgba(226, 0, 122, 1);
  text-align: center;
  margin-bottom: 3.125rem;
}

@media (max-width: 2040px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1920px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1780px) {
  html {
    font-size: 13px;
  }
  /**/

@media (max-width: 1670px) {
  html {
    font-size: 12px;
  }
 
}


@media (max-width: 1530px) {
  html {
    font-size: 11px;
  }
  .nav__flex-container {
    height: 7rem;
  }
  .nav__button {
    font-size: 2.25rem;
    padding: 1.75rem;
    width: 11rem;
  }
  /*
  .nav__flex-container {
    height: 8rem;
  }
  .nav__button {
    font-size: 2.5rem;
    padding: 2rem;
    width: 11rem;
  }
  .main-content {
     margin: auto 21rem;
  }
  .main-content__title {
    font-size: 4rem;
  }
  .profile-text {
    margin-right: 10rem;
  }
  .profile-skills {
    margin-left: 10rem;
  }
 */
}






@media (max-width: 1400px) {
  html {
    font-size: 10px;
  }
  .main-content {
  margin: auto 21rem;
}
.nav__flex-container {
    height: 8rem;
  }
  .nav__button {
    font-size: 2.5rem;
    padding: 2rem;
    width: 11rem;
  }
  .main-content {
     margin: auto 21rem;
  }
  .main-content__title {
    font-size: 4rem;
  }
  .profile-text {
    margin-right: 8rem;
    width: 36.5rem;
   
  }
  .profile-text__paragraph {
    font-size: 2rem;
  }
  .profile-skills {
    margin-left: 8rem;
    
  }
  .profile-skills__list {
  font-size: 2rem;
  width: 28rem;
  }
}
